* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 82px;
    min-width: 980px;
    background-color: #385898;
    color: white;
    display: flex;
    justify-content: space-between;
}
